---
layout: default
title: Static site baking and deployment
---
.page-header
  %h1 
    { :awestruct } 
    %small A static site baking and deployment tool

%p
  Awestruct is a framework for creating static HTML sites, inspired by the
  %a{ :href=>"http://github.com/mojombo/jekyll" } Jekyll 
  utility in the same genre.

%p
  Awestruct makes it trivially easy to create non-trivial static websites using lightweight markup languages such as
  = succeed ', ' do
    %a{:href=>'http://asciidoctor.org/docs/asciidoc-syntax-quick-reference'} AsciiDoc
  = succeed ', and ' do
    %a{:href=>'http://daringfireball.net/projects/markdown/syntax'} Markdown
  = succeed ', ' do
    %a{:href=>'http://redcloth.org/textile'} Textile
  templating languages such as
  = succeed ', ' do
    %a{:href=>'http://slim-lang.com'} Slim
  = succeed ', and ' do
    %a{:href=>"http://haml-lang.com"} Haml
  = succeed ', ' do
    %a{:href=>"http://compass-style.org"} Compass (Sass)
  as well as UI frameworks like
  %a{:href=>'http://getbootstrap.com'} Bootstrap
  and
  = succeed '.' do
    %a{:href=>'http://foundation.zurb.com'} Zurb Foundation

%p
  The core concept of Awestruct is that of structures, specifically Ruby
  "OpenStruct" structures. The struct aspect allows arbitrary, schema-less data
  to be associated with a specific page or the entire site.

%p
  Site-specific data is automatically loaded from simple YAML files, while data
  can be provided on pages using a front-matter prolog.

.row
  .span4
    .well
      %h2 
        Install
        %small Version #{site.gem_version}

      %pre
        %code.bash
          $ gem install awestruct

      - if site.gem_pre_version
        %h2
          Install
          %small Version #{site.gem_pre_version}

        %pre
          %code.bash
            $ gem install awestruct --pre
  .span4
    .well
      %h2 Getting Started
      %pre
        %code.bash
          $ awestruct -i -f bootstrap
