---
title: News
layout: default
---
- for post in site.posts[0,10]
  .post
    %h1.title
      %a{:href=>post.url}= post.title
    .byline
      .author
        = post.author
      .date
        #{post.date.strftime( '%d %B %Y' )}
    .body
      = post.content
    .comments
      = post.intense_debate_comments_link

%a{:href=>'/news/archives'} browse the full archives of older news and release announcements.
    
