---
---
!!! XML

%feed{ 'xml:base'=>site.base_url, 'xml:lang'=>'en-US', :xmlns=>'http://www.w3.org/2005/Atom' }
  %id #{site.base_url}
  %title The Awestruct Project
  %updated= site.posts.first.date.xmlschema
  %link{:rel=>"alternate", :type=>"text/html",            :href=>site.base_url}
  %link{:rel=>"self",      :type=>"application/atom+xml", :href=>"#{site.base_url}/news.atom"}
  - for post in site.posts
    %entry
      %id #{site.base_url}#{post.url}
      %title= escape_once( post.title )
      %updated= post.date.xmlschema
      %link{:rel=>"alternate", :type=>"text/html", :href=>"#{site.base_url}#{post.url}" }
      %author
        %name= post.author
      %summary
        = html_to_text( post.content )
      %content{:type=>'html'}
        = escape_once( fully_qualify_urls( site.base_url, post.content )  )

