---
layout: default
---

.page-header
  %h1= page.name
  %small 
    %h2= page.classname

= page.description

%h2 Usage

= page.usage

%h2 Parameters

- if ( page.params.nil? || page.params.empty? )

  %em
    None
- else

  %pre
    :preserve
      #{page.classname}.new(#{page.params.join(', ')})

  
  %table.parameters
    %tr
      %th Parameter
      %th Description
    - page.params.each do |param|
      %tr
        %td
          %code= param
        %td
          = page.param_descriptions[ param ]

- unless ( page.opts.nil? || page.opts.empty? )
  .options
    %h3 Options
    %table
      - page.opts.keys.sort.each do |key|
        %tr
          %th
            = key
          %td
            = page.opts[ key ]

%h2 Examples

%h3 Generic Installation

%pre
  %code.ruby
    :preserve
      Awestruct::Extensions::Pipeline.new do
        extension #{page.classname}.new(#{(page.params||[]).join( ', ' ) })
      end

= page.example
  
- unless page.see_also.nil?
  %h2 See Also
  %ul
    - page.see_also.each do |e|
      %li
        %a{:href=>e.url}=e.name

