!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title awestruct: #{page.title}
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>'/news.atom' }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %script{ :src=>'http://yandex.st/jquery/1.9.1/jquery.min.js' }
    %link{ :rel=>'stylesheet', :href=>"#{site.base_url}/stylesheets/styles.css" }
    %link{ :rel=>'stylesheet', :href=>'http://yandex.st/highlightjs/7.3/styles/default.min.css' }

    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'http://html5shim.googlecode.com/svn/trunk/html5.js' }
    -#:javascript
    -#  $.getJSON("https://rubygems.org/api/v1/versions/awestruct.json?callback=?", function(data) { alert( data.number ); });
    
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .github-banner
            %a{:href=>'https://github.com/awestruct/awestruct'}
              %img{:style=>'position: absolute; top: 0; right: 0; border: 0;z-index: 900;',
                :src=>'https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png',
                :alt=>'Fork me on GitHub'}
          %a.brand{ :href=>"#{site.base_url}" } {:awestruct}
          %ul.nav
            %li 
              %a{:href=>"#{site.base_url}"} Home
            %li 
              %a{:href=>"#{site.base_url}/news/"} News
            %li#getting-started-menu.dropdown
              %a.dropdown-toggle{"data-toggle"=>"dropdown", :href=>"#getting-started-menu"}
                Documentation
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>"#{site.base_url}/getting_started/"} Getting Started
                %li 
                  %a{:href=>"#{site.base_url}/layout/"} Project Layout
                %li 
                  %a{:href=>"#{site.base_url}/profiles/"} Site Profiles
                %li 
                  %a{:href=>"#{site.base_url}/file_types/"} File Types
                %li 
                  %a{:href=>"#{site.base_url}/skins/"} Skins
                %li 
                  %a{:href=>"#{site.base_url}/template_context/"} Template Context
                %li 
                  %a{:href=>"#{site.base_url}/deployment/"} Site Deployment
                %li 
                  %a{:href=>"#{site.base_url}/auto-deploy-to-github-pages/"} Auto Deploy to GitHub Pages
            %li#extensions-menu.dropdown
              %a.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#extensions-menu'} 
                Extensions
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>"#{site.base_url}/extensions/"} Overview
                - site.extensions.each do |ext_data|
                  %li 
                    %a{:href=>"#{site.base_url}/extensions/#{ext_data.first}/"}= ext_data.last
            %li#helpers-menu.dropdown
              %a.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#helpers-menu'} 
                Helpers
                %b.caret
              %ul.dropdown-menu
                %li 
                  %a{:href=>"#{site.base_url}/helpers/"} Overview
                %li 
                  %a{:href=>"#{site.base_url}/helpers/partial/"} Partial
                %li 
                  %a{:href=>"#{site.base_url}/helpers/google_analytics/"} Google Analytics
    .container
      .row
        .span3
          .well
            %h2 Build Status
            %p
              Travis-CI
              %a{:href=>'http://travis-ci.org/awestruct/awestruct'} 
                %img{ :src => 'https://secure.travis-ci.org/awestruct/awestruct.png' }
          #sidebar
            %ul.nav.nav-tabs.nav-stacked
              %li 
                %a{:href=>"#{site.base_url}/gallery/"} Gallery
              %li 
                %a{:href=>"#{site.base_url}/source/"} Source Code
              %li 
                %a{:href=>"#{site.base_url}/yardoc/"} API Documentation
              %li 
                %a{:href=>'mailto:talk-subscribe@awestruct.org?subject=subscribe'} Mailing List
              %li
                %a{:href=>'http://talk-archive.awestruct.org/'} List Archives
              %li
                %a{:href=>'http://twitter.com/awestructed'} Twitter

        .span8
          - if page.show_header
            .page-header
              %h1= page.title
          ~ content
      .row
        %hr
        %footer
          %p &copy; Bob McWhirter #{Date.today.year}
    %script{ :src=>"#{site.base_url}/javascript/bootstrap-2.3.1.js" }
    -#%script{ :src=>"http://yandex.st/highlightjs/7.3/highlight.min.js" }
    -# custom build from highlight.js source using: python3 tools/build.py -t browser -n haml markdown scss
    -# needed to escape to instances of #{ in source so interpolator doesn't choke
    %script{ :src=>"#{site.base_url}/javascript/highlight-20130326.js" }
    %script
      hljs.initHighlightingOnLoad();
      $('.admonitionblock .title').each(function(idx) { $(this).addClass($(this).text().toLowerCase()) });
